<div class="uk-position-center uk-overlay uk-overlay-default  ">     
    <form  class="text-white text-center text-lg-start  ">
    <div class="uk-margin">
        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: user"></span>
            <input class="uk-input" type="text"  ngModel name="email">
        </div>
    </div>

    <div class="uk-margin">
        <div class="uk-inline">
          
            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
            <input class="uk-input  input-outline-danger" type="password"   ngModel name="password">
        </div>
    </div>
    <button type="submit" class="btn btn-danger" style="width: 100%;">Login</button>
    <br>
    <br>
    <button type="submit" class="btn btn-primary" style="width: 100%;">Forget</button>

</form>

</div>