<div class="container">
    <div class="d-flex justify-content-center flex-column mb-3 " >
        <div class="box">
            <img src="assets\logosteg.png" class="rounded" height="500" width="500" alt="Steglogo">
          </div>
          <br>
             <button class="btn btn-outline-secondary    "  type="submit"  > STEG </button>
             <div class="d-flex align-items-start flex-column mb-3" style="height: 200px;"></div>
  </div>
  <div class="d-flex justify-content-center flex-column mb-3">
    <div class="box">
        <img src="assets\SONEDE.jpg" class="rounded" alt="Steglogo">
      </div>
      <br>
      <div class="d-flex justify-content-center flex-column mb-3">
         <button class="btn btn-outline-danger" type="submit" > SONNEDE</button>
        </div>

        <div class="d-flex justify-content-center flex-column mb-3">
            <div class="box">
                <img src="assets\CNSS.png" class="rounded" alt="Steglogo">
              </div>
              <br>
              <div class="d-flex justify-content-center flex-column mb-3">
                 <button class="btn btn-outline-success" type="submit" > CNSS </button>
                </div>
      
      </div>
      <div class="d-flex justify-content-center flex-column mb-3">
        <div class="box">
            <img src="assets\logocnam.jpg" class="rounded" alt="Steglogo">
          </div>
          <br>
          <div class="d-flex justify-content-center flex-column mb-3">
             <button class="btn btn-outline-danger" type="submit" > CNAM </button>
            </div>
  
  </div>
</div>

</div>
